@import url('https://fonts.googleapis.com/css?family=Quattrocento:400,700');
@import url('https://fonts.googleapis.com/css?family=Open+Sans:300:700');

body {
   font-family: 'Open Sans', serif;
   font-weight: 300;
   background: #fafafa;
}

#cover {
   padding: 7em 1em 0em 1em;
   position: relative;
}
#cover .background {
   position: absolute;
   top: 0;
   left: 0;
   width: 100%;
   height: 100%;
   background: #FAFAFA;
   list-style: none;
   padding: 0;
   margin: 0;
   text-align: right;
}
#cover .background li {
   width: 20%;
   height: 100%;
   display: inline-block;
   position: absolute;
   top: 0;
}
#cover .background li:nth-child(1) {
   width: 51%;
   left: 0;
   background: #fff;
   -webkit-clip-path: polygon(0% 0%, 100% 0%, 52% 100%, 0% 100%);
   clip-path: polygon(0% 0%, 100% 0%, 52% 100%, 0% 100%);
}
#cover .background li:nth-child(2) {
   width: 55%;
   right: 20%;
   background: #f5f3f0;
   -webkit-clip-path: polygon(40% 0%, 100% 0%, 66.3% 100%, 0% 100%);
   clip-path: polygon(40% 0%, 100% 0%, 66.3% 100%, 0% 100%);
}
#cover .background li:nth-child(3) {
   right: 0;
   width: 42.5%;
   background: #0f1217;
   -webkit-clip-path: polygon(52% 0%, 100% 0%, 100% 100%, 0% 100%);
   clip-path: polygon(52% 0%, 100% 0%, 100% 100%, 0% 100%);
}
#cover .container {
   position: relative;
   z-index: 2;
}
#cover .title {
   text-align: center;
   margin-bottom: 3em;
}
#cover .title h4 {
   text-transform: uppercase;
   font-size: 1em;
   width: auto;
   display: inline-block;
   padding-bottom: .7em;
   border-bottom: 2px solid rgba(232, 182, 12, 0.5);
   position: relative;
}
#cover .title h4::after {
   position: absolute;
   bottom: -14px;
   left: 46%;
   content: "\f219";
   font-family: 'FontAwesome';
   color: #E8B60C;
   background: #f5f3f0;
   width: 8%;
   height: 20px;
}
#cover .title h1 {
   font-family: 'Quattrocentro', serif;
   font-weight: 400;
   font-size: 3.5em;
}
#info {
   padding: 3em 0em;
   background-image: url(../media/bginfo.jpg);
   background-position: center center;
   background-size: cover;
   background-repeat: no-repeat;
   position: relative;
}
#info::after {
   position: absolute;
   width: 100%;
   height: 100%;
   content: ' ';
   top: 0;
   left: 0;
   background: rgba(214, 201, 184, 0.9);
}
#info .container {
   position: relative;
   z-index: 2;
}
#info .intro img {
   height: 150px;
   display: block;
   margin: auto;
}
#info .intro h4 {
   color: #636363;
   font-size: 1.2em;
   width: auto;
   display: inline-block;
   padding: 0em 1em .7em 1em;
   border-bottom: 2px solid rgba(232, 182, 12, 0.9);
}
#info .intro h1 {
   font-family: 'Quattrocentro', serif;
   text-transform: uppercase;
   color: #323232;
   margin-bottom: .5em;
}

#pricing {
   padding: 4em 0em;
   background: #fff;
}
#pricing table {
   font-size: .85em;
   font-weight: 300;
}

#program {
   background: #f5f3f0;
   padding: 3em 0em;
}
#program h2 {
   text-align: center;
   font-family: 'Quattrocentro',serif;
   font-size: 2.5em;
   text-transform: uppercase;
   color: #424242;
   width: auto;
   display: inline-block;
   margin: auto;
   border-bottom: 2px solid rgba(232, 182, 12, 0.5);
}
#program .item {
   text-align: center;
}
#program .item img {
   height: 220px;
   margin: auto;
}
#program .item h4 {
   font-family: 'Quattrocentro',serif;
   text-transform: uppercase;
   padding: .5em 1em;
   font-size: 1em;
   font-weight: 600;
   color: #424242;
   background: rgba(214, 201, 184, 1);
}

.btn-call, .btn-call:hover, .btn-call:active, .btn-call:focus {
   background: #D84315;
   color: #fff;
   text-decoration: none;
   font-family: 'Open Sans', sans-serif;
   font-size: 1em;
   font-weight: 300;
   text-transform: uppercase;
}
